<html>

<head>
    <title>Hello EJS</title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <h1>User:
        <%= ID.length %>
    </h1>
    <h2> queryString value: <%= queryString %> </h2>
</body>

</html>